// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$header_color:#8835C3;
$sidemenu_color:#19152C;

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:      #FFFFFF,
  black:      #000000,
  dark:       #222,
  orange:     #f09100  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

/* Colors */
$white:      #FFF;
$black:      #000;
$dark-green: #2FA583;
$green:      #5AAD45;
$green-74:   #74DAD2;
$teal:       #30A69D;
$grey:       #F7F9FC;
$dark-gray:  #495B65;
$black-3:     #3C3D3F;
/* End */

@import "./mixin";
@import "./fonts";
@import "./typography";

@import "./header-footer";
@import "./form";
@import "./component";

//Mi CSS especializado
@font-face {
    font-family: 'Bonita'; /*a name to be used later*/
    src: url('../assets/fonts/SweetSensations.ttf'); /*URL to font*/
}

ion-content {

}




.cuerpo_principal{
    background-image: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+28,9fd8ef+56,2ab0ed+100 */
    /*    background: #e4f5fc;  Old browsers
        background: -moz-linear-gradient(45deg, #e4f5fc 0%, #bfe8f9 28%, #9fd8ef 56%, #2ab0ed 100%);  FF3.6-15
        background: -webkit-linear-gradient(45deg, #e4f5fc 0%,#bfe8f9 28%,#9fd8ef 56%,#2ab0ed 100%);  Chrome10-25,Safari5.1-6
        background: linear-gradient(45deg, #e4f5fc 0%,#bfe8f9 28%,#9fd8ef 56%,#2ab0ed 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );  IE6-9 fallback on horizontal gradient */
}

.cuerpo_principal{
    background-image: url(../assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.back-image{
    background-image: url(../assets/imgs/background_blurry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.titulo{
    font-family: 'Bonita';
    font-size: 13.5vw;
    text-shadow: 2px 2px #5F5F5F;
}
